body 
    background-color: pink

img 
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;

#mainDiv
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    border: 2px solid lime;

.flexItem
    border: 2px solid red;
    flex-basis: 30%;   
